<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="assest/js/ng_drag_drop_suit/angular-drag-and-drop-lists.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="assest/css/dragBox.css">
        <script src="assest/angularJS/modules/mainModule.js"></script>
        <script src="assest/angularJS/services/deptService.js"></script>
        <script src="assest/angularJS/controllers/simpleDemoController.js"></script>
    </head>
    <body class="container" ng-app="demo">

        <h1>Demo: Simple Lists</h1>

        <div class="alert alert-success">
            <strong>Instructions:</strong>
            Drag &amp; drop the list items to move them around, or just click to select them.
            If that's too boring, check out the <a href="#/nested">nested container demo</a>
        </div>
        
        <div class="simpleDemo row" ng-controller="SimpleDemoController" >
        
            <div class="col-md-8">
                <div class="row">
                    <div ng-repeat="(listName, list) in models.lists" class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">List {{listName}}</h3>
                            </div>
                            <div class="panel-body" ng-include="'assest/template/simple.html'"></div>
                        </div>
                        <p>listName = {{listName}}</p>
                        <p>list     = {{list}}</p>
                    </div>
                </div>
                <!-- <div view-source="simple"></div> -->

                <!-- ============================================ -->
                <h1 style="font-family:微軟正黑體;">查詢結果：</h1>
                <table class="table table-striped">
                    <thead>
                        <tr class="warning">
                            <th scope="col">#</th>
                            <th scope="col">deptNo</th>
                            <th scope="col">deptName</th>
                            <th scope="col">deptLoc</th>
                            <th scope="col">部門員工</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="deptvo in deptDataCB" >
                            <th scope="row">{{ $index + 1 }}</th>
                            <td>{{ deptvo.deptNo }}</td>
                            <td>{{ deptvo.deptName }}</td>
                            <td>{{ deptvo.deptLoc }}</td>
                            <td>
                                <p ng-repeat=" empvo in deptvo.emps " >{{ empvo.empName }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <h1 style="font-family:微軟正黑體;">參考</h1>
                    <table class="table table-striped table-dark">
                        <tbody>
                            <tr class="danger">
                                <th scope="row">套件gitHub</th>
                                <td>https://github.com/marceljuenemann/angular-drag-and-drop-lists</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Generated Model</h3>
                        <button type="button" class="btn btn-dark" ng-class="{'btn-danger' : hasPrepared }" ng-disabled="!hasPrepared" ng-click="doSubmit()">查詢</button>
                   
                        <p></p>
                        <!-- BootStrap CheckBox -->
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" ng-model="isEagerCk" aria-label="Checkbox for following text input">
                                    <span ng-style="{'color': (isEagerCk == true) ? 'red' : 'gray' }">isEager</span>   <span>{{isEagerCk}}</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="panel-body">
                        <pre class="code">{{modelAsJson}}</pre>
                    </div>
                </div>
            </div>
        
        </div>

        <script>
            // 【ng拖拉套件】https://github.com/marceljuenemann/angular-drag-and-drop-lists
        </script>
    </body>
</html>