<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
    </head>

    <body>

        <div ng-app="myApp">
            <div ng-controller="firstController">
                <input type="text" value="" ng-model="empName">
                <p></p>
                <input type="text" value="" ng-model="empSalary">
                <p></p>

                <div style="border: 1px dashed red">
                    <p>ng-bind test ： angular加載完成後才Render，避免畫面show出angular原始碼</p>
                    <div ng-bind="empName"></div>
                    <div ng-bind="empSalary"></div>
                </div>

                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <div style="border: 1px solid blue">
                    <p>ng-cloak test</p>
                    <div ng-cloak>{{ empName }}</div>
                    <div ng-cloak>{{ empSalary }}</div>
                </div>

            </div>
        </div>

        <script type="text/javascript" src="./v1.5.7/angular.js"></script>
        <script type="text/javascript" src="index.js"></script>
        <script>
            angular.element(document).ready(function() {
                alert('angular document-ready!!!')
                angular.bootstrap(
                    angular.element(document.getElementById("rootOfApp"))
                );
            });
        </script>
    </body>

</html>