<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="./index.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body ng-app="myApp" >
        <h2>自訂過濾器，過濾年齡 > <input type="text" ng-style="{'text-align':'center','color':'blue'}" 
            ng-model="limitAge" ng-init="limitAge = '27'" > </h2><!-- 利用 ng-init 給初始值，設定傳給 filterAge 的參數 -->
        <div class="container" ng-controller="EmpController" >
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">empName</th>
                        <th scope="col">empAge</th>
                        <th scope="col">empSalary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in empData | filterAge : limitAge track by emp.empId " >
                        <th scope="row" >{{ $index + 1 }}</th>
                        <td>{{emp.empName}}</td>
                        <td>{{emp.empAge}}</td>
                        <td>{{emp.empSalary}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <br><br><br>

        <div class="container">
            <h1 style="font-family:微軟正黑體;">參考</h1>
            <table class="table table-striped table-dark">
                <tbody>
                    <tr class="danger">
                        <th scope="row">自訂過濾器</th>
                        <td>http://abgne.tw/angularjs/angularjs-getting-stared/create-a-custom-filter.html</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">慎用filter(至少呼叫2次的問題)</th>
                        <td>https://github.com/atian25/blog/issues/5</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">JS 陣列的七種方法</th>
                        <td>https://wcc723.github.io/javascript/2017/06/29/es6-native-array/</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">ES6 箭頭函數</th>
                        <td>https://pjchender.blogspot.tw/2017/01/es6-arrow-function.html</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">ng-repeat track by</th>
                        <td>http://sweeteason.pixnet.net/blog/post/42233743-angularjs-%E5%88%9D%E5%AD%B8%E8%80%85%E7%AD%86%E8%A8%98%E8%88%87%E6%95%99%E5%AD%B8-%28%E4%BA%94%29---%E7%B9%BC%E7%BA%8C%E6%B7%B1%E5%85%A5%E5%AD%B8</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>